<h1>StaticPage#main</h1>
<p>Find me in app/views/static_page/main.html.erb</p>

<table id='calendar' class='table table-striped table-bordered text-center'>
<thead class='thead-inverse'>
	<tr class='month_name'>
		<td class='link_to_prev_month'>
			<a href = "<%= link_for_month_year(prev_month_year)%>">
				<span class='glyphicon glyphicon-chevron-left'></span>
			</a>
		</td>
		<td colspan=5><b><%= month_name_and_year %></b></td>
		<td class='link_to_next_month'>
			<a href = "<%= link_for_month_year(next_month_year)%>">
				<span class='glyphicon glyphicon-chevron-right'></span>
			</a>
		</td>

	</tr>
	<tr class='wd_shorts'>
		<td>Monday</td>
		<td>Tuesday</td>
		<td>Wednesday</td>
		<td>Thursday</td>
		<td>Friday</td>
		<td class='weekend'>Saturday</td>
		<td class='weekend'>Sunday</td>
	</tr>
</thead>
<tbody>
<%= draw_calendar %>
</tbody>
</table>

<script>
$("#calendar").on("click", ".event_count", function() {
	window.location = $( this ).data('href');
	// alert($( this ).data('href'));
});
</script>
