// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.today {
margin: 3px;
border-radius: 0px; 
-moz-border-radius: 0px; 
-webkit-border-radius: 0px; 
border: 6px solid #800000 !important;
}